<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.slearing.springboot.phone_shop.mapper.GoodsOrderMapper">
    <cache type="xyz.slearing.springboot.phone_shop.config.redis.RedisCache"/>

    <insert id="addOrder" parameterType="xyz.slearing.springboot.phone_shop.pojo.GoodsOrder">
        insert into goodsOrder(goodsId,img,name,type,price,num,userId) values
        (#{goodsId},#{img},#{name},#{type},#{price},#{num},#{userId})
    </insert>

    <delete id="deleteOrder" parameterType="int">
        delete from goodsOrder where id=#{id}
    </delete>

    <select id="getOrderByUser" parameterType="int" resultType="xyz.slearing.springboot.phone_shop.pojo.GoodsOrder">
        select * from goodsOrder where userId=#{user}
    </select>

    <update id="updateOrder" parameterType="xyz.slearing.springboot.phone_shop.pojo.GoodsOrder">
        update goodsOrder set num=#{num} where id=#{id}
    </update>
</mapper>